<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhangshun.dao.CardMapper" >
  <resultMap id="BaseResultMap" type="com.zhangshun.entity.Card" >
    <id column="tid" property="tid" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="authorid" property="authorid" jdbcType="INTEGER" />
    <result column="hidden" property="hidden" jdbcType="VARCHAR" />
    <result column="collect" property="collect" jdbcType="INTEGER" />
    <result column="thumpsup" property="thumpsup" jdbcType="INTEGER" />
    <result column="collecttimes" property="collecttimes" jdbcType="INTEGER" />
    <result column="thumpsuptimes" property="thumpsuptimes" jdbcType="INTEGER" />
    <result column="showlevel" property="showlevel" jdbcType="INTEGER" />
    <result column="gameid" property="gameid" jdbcType="INTEGER" />
    <result column="gamename" property="gamename" jdbcType="VARCHAR" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    tid, content, title, authorid, hidden, collect, thumpsup, collecttimes, thumpsuptimes, 
    showlevel, gameid, gamename, remarks
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zhangshun.entity.CardExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from card
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from card
    where tid = #{tid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from card
    where tid = #{tid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zhangshun.entity.CardExample" >
    delete from card
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zhangshun.entity.Card" >
    insert into card (tid, content, title, 
      authorid, hidden, collect, 
      thumpsup, collecttimes, thumpsuptimes, 
      showlevel, gameid, gamename, 
      remarks)
    values (#{tid,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{authorid,jdbcType=INTEGER}, #{hidden,jdbcType=VARCHAR}, #{collect,jdbcType=INTEGER}, 
      #{thumpsup,jdbcType=INTEGER}, #{collecttimes,jdbcType=INTEGER}, #{thumpsuptimes,jdbcType=INTEGER}, 
      #{showlevel,jdbcType=INTEGER}, #{gameid,jdbcType=INTEGER}, #{gamename,jdbcType=VARCHAR}, 
      #{remarks,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zhangshun.entity.Card" >
    insert into card
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tid != null" >
        tid,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="authorid != null" >
        authorid,
      </if>
      <if test="hidden != null" >
        hidden,
      </if>
      <if test="collect != null" >
        collect,
      </if>
      <if test="thumpsup != null" >
        thumpsup,
      </if>
      <if test="collecttimes != null" >
        collecttimes,
      </if>
      <if test="thumpsuptimes != null" >
        thumpsuptimes,
      </if>
      <if test="showlevel != null" >
        showlevel,
      </if>
      <if test="gameid != null" >
        gameid,
      </if>
      <if test="gamename != null" >
        gamename,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tid != null" >
        #{tid,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="authorid != null" >
        #{authorid,jdbcType=INTEGER},
      </if>
      <if test="hidden != null" >
        #{hidden,jdbcType=VARCHAR},
      </if>
      <if test="collect != null" >
        #{collect,jdbcType=INTEGER},
      </if>
      <if test="thumpsup != null" >
        #{thumpsup,jdbcType=INTEGER},
      </if>
      <if test="collecttimes != null" >
        #{collecttimes,jdbcType=INTEGER},
      </if>
      <if test="thumpsuptimes != null" >
        #{thumpsuptimes,jdbcType=INTEGER},
      </if>
      <if test="showlevel != null" >
        #{showlevel,jdbcType=INTEGER},
      </if>
      <if test="gameid != null" >
        #{gameid,jdbcType=INTEGER},
      </if>
      <if test="gamename != null" >
        #{gamename,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zhangshun.entity.CardExample" resultType="java.lang.Integer" >
    select count(*) from card
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update card
    <set >
      <if test="record.tid != null" >
        tid = #{record.tid,jdbcType=INTEGER},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.authorid != null" >
        authorid = #{record.authorid,jdbcType=INTEGER},
      </if>
      <if test="record.hidden != null" >
        hidden = #{record.hidden,jdbcType=VARCHAR},
      </if>
      <if test="record.collect != null" >
        collect = #{record.collect,jdbcType=INTEGER},
      </if>
      <if test="record.thumpsup != null" >
        thumpsup = #{record.thumpsup,jdbcType=INTEGER},
      </if>
      <if test="record.collecttimes != null" >
        collecttimes = #{record.collecttimes,jdbcType=INTEGER},
      </if>
      <if test="record.thumpsuptimes != null" >
        thumpsuptimes = #{record.thumpsuptimes,jdbcType=INTEGER},
      </if>
      <if test="record.showlevel != null" >
        showlevel = #{record.showlevel,jdbcType=INTEGER},
      </if>
      <if test="record.gameid != null" >
        gameid = #{record.gameid,jdbcType=INTEGER},
      </if>
      <if test="record.gamename != null" >
        gamename = #{record.gamename,jdbcType=VARCHAR},
      </if>
      <if test="record.remarks != null" >
        remarks = #{record.remarks,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update card
    set tid = #{record.tid,jdbcType=INTEGER},
      content = #{record.content,jdbcType=VARCHAR},
      title = #{record.title,jdbcType=VARCHAR},
      authorid = #{record.authorid,jdbcType=INTEGER},
      hidden = #{record.hidden,jdbcType=VARCHAR},
      collect = #{record.collect,jdbcType=INTEGER},
      thumpsup = #{record.thumpsup,jdbcType=INTEGER},
      collecttimes = #{record.collecttimes,jdbcType=INTEGER},
      thumpsuptimes = #{record.thumpsuptimes,jdbcType=INTEGER},
      showlevel = #{record.showlevel,jdbcType=INTEGER},
      gameid = #{record.gameid,jdbcType=INTEGER},
      gamename = #{record.gamename,jdbcType=VARCHAR},
      remarks = #{record.remarks,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhangshun.entity.Card" >
    update card
    <set >
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="authorid != null" >
        authorid = #{authorid,jdbcType=INTEGER},
      </if>
      <if test="hidden != null" >
        hidden = #{hidden,jdbcType=VARCHAR},
      </if>
      <if test="collect != null" >
        collect = #{collect,jdbcType=INTEGER},
      </if>
      <if test="thumpsup != null" >
        thumpsup = #{thumpsup,jdbcType=INTEGER},
      </if>
      <if test="collecttimes != null" >
        collecttimes = #{collecttimes,jdbcType=INTEGER},
      </if>
      <if test="thumpsuptimes != null" >
        thumpsuptimes = #{thumpsuptimes,jdbcType=INTEGER},
      </if>
      <if test="showlevel != null" >
        showlevel = #{showlevel,jdbcType=INTEGER},
      </if>
      <if test="gameid != null" >
        gameid = #{gameid,jdbcType=INTEGER},
      </if>
      <if test="gamename != null" >
        gamename = #{gamename,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
    </set>
    where tid = #{tid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhangshun.entity.Card" >
    update card
    set content = #{content,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      authorid = #{authorid,jdbcType=INTEGER},
      hidden = #{hidden,jdbcType=VARCHAR},
      collect = #{collect,jdbcType=INTEGER},
      thumpsup = #{thumpsup,jdbcType=INTEGER},
      collecttimes = #{collecttimes,jdbcType=INTEGER},
      thumpsuptimes = #{thumpsuptimes,jdbcType=INTEGER},
      showlevel = #{showlevel,jdbcType=INTEGER},
      gameid = #{gameid,jdbcType=INTEGER},
      gamename = #{gamename,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR}
    where tid = #{tid,jdbcType=INTEGER}
  </update>
</mapper>